<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
</head>
<body>
    <h1>Reports</h1>
    <table>
        <thead>
            <tr>
                <th>Descrição da Avaliação</th>
                <th>Razão do report</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.evaluation.description }}</td>
                <td>{{ report.reason }}</td>
                <td>
                    <a href="/report/delete/{{ report.id }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/reports">Voltar</a>
</body>
</html>